Source: tagcrypt
Priority: optional
Maintainer: 
Build-Depends: debhelper (>= 4), build-essential, libktools0-dev, libgcrypt11-dev, gcc, scons, libapr1-dev, flex
Standards-Version: 3.7.2
Section: libs

Package: libtagcrypt1-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Teambox crypto kit
 Teambox cryptography library.

Package: libtagcrypt1-dev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtagcrypt1-0 (= ${Source-Version})
Description: Teambox crypto, development files
 Teambox cryptography library.
