#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

CC=gcc-3.4
CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

# shared library versions, option 1
version=2.0.5
major=2
# option 2, assuming the library is created as src/.libs/libfoo.so.2.0.5 or so
#version=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/[0-9]+\.[0-9]+\.[0-9]+$$/)) print substr($$0,RSTART)}'`
#major=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/\.so\.[0-9]+$$/)) print substr($$0,RSTART+4)}'`

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	scons
	touch $@

clean:
	dh_testdir
	dh_testroot
	-rm -f build-stamp configure-stamp
	-rm build.conf
	scons -c libktools_include=/usr/include/libktools libktools_libpath=/usr/lib \
		 LIBDIR=. INCDIR=.
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k  
	dh_installdirs

	mkdir -p $(CURDIR)/debian/tmp/usr/lib
	mkdir -p $(CURDIR)/debian/tmp/usr/include/tagcrypt
	scons install LIBDIR=$(CURDIR)/debian/tmp/usr/lib \
		      INCDIR=$(CURDIR)/debian/tmp/usr/include/tagcrypt

	dh_install -plibtagcrypt1-dev --sourcedir=$(CURDIR)/debian/tmp
	dh_install -plibtagcrypt1-0   --sourcedir=$(CURDIR)/debian/tmp	

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdirs -p libtagcrypt1-dev
	dh_installchangelogs -p libtagcrypt1-dev
	dh_link -p libtagcrypt1-dev
	dh_compress -p libtagcrypt1-dev
	dh_fixperms -p libtagcrypt1-dev
	dh_makeshlibs -p libtagcrypt1-dev
	dh_installdeb -p libtagcrypt1-dev
	dh_shlibdeps -p libtagcrypt1-dev
	dh_gencontrol -p libtagcrypt1-dev
	dh_md5sums -p libtagcrypt1-dev
	dh_builddeb -p libtagcrypt1-dev

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdirs -p libtagcrypt1-0
	dh_installchangelogs -p libtagcrypt1-0
	dh_link -p libtagcrypt1-0
	dh_compress -p libtagcrypt1-0
	dh_fixperms -p libtagcrypt1-0
	dh_installdeb -p libtagcrypt1-0
	dh_shlibdeps -p libtagcrypt1-0
	-mkdir -p debian/libtagcrypt1-0/DEBIAN
	install -m644 debian/shlibs debian/libtagcrypt1-0/DEBIAN/shlibs
	dh_gencontrol -p libtagcrypt1-0
	dh_md5sums -p libtagcrypt1-0
	dh_builddeb -p libtagcrypt1-0

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
